body {
  margin: 0px;
  font-family: 'Amazon Ember' !important;
}

#shazamazon {
  height: 100%;
  width: 100%;
}

#top {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}

#cart-app {
  margin-left: 15px;
  margin-right: 15px;
}

#gall_root {
  margin-left: 15px;
  margin-right: 15px;
}

#car-container {
  margin: 50px 20px 20px 15px;
  height:100%;
}

#reviewsApp {
  margin-left: 15px;
  margin-right: 15px;
}

#qa-app {
  margin: 50px 20px 20px 15px;
}

#rev_rev_stream {
  overflow: none;
}

#Browsing-History-Carousel {
  margin: 15px 20px 20px 15px;
}

#des_app {
  width: 35%;
}