body {
  margin: 0px;
  font-family: 'Amazon Ember';
}

#shazamazon {
  height: 100%;
  width: 100%;
}

#top {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}

#cart-app {
  margin-left: 15px;
  margin-right: 15px;
}

#gall_root {
  margin-left: 15px;
  margin-right: 15px;
}

#car-container {
  margin: 50px 20px 20px 15px;
  height:100%;
}

#reviewsApp {
  margin-left: 15px;
  margin-right: 15px;
}

#qa-app {
  margin: 50px 20px 20px 15px;
}

#rev_rev_stream {
  overflow: none;
}

#Browsing-History-Carousel {
  margin: 15px 20px 20px 15px;
}



/* #nav-category-selector {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  background-image: url("https://cdn1.iconfinder.com/data/icons/pixel-perfect-at-16px-volume-2/16/5001-128.png");
  background-position: 95% 50%;
  background-repeat: no-repeat;
  background-size: 8px;
  display: block;
  border: none;
  background-color: #F3F3F3;
  border-radius: 0;
  border-right: 1px solid #CDCDCD;
  border-top-left-radius: 7%;
  border-bottom-left-radius: 7%;
  margin-left: 16px;
  color: #6D6D6D;
  font-size: 10pt;
  font-weight: 400;
  width: fit-content;
  padding-left: 3px;
} */